<div class="app-header">
    <!-- Top most menu -->
  <div class="top-menu">
    <div class="menu-item">Back</div>
    <div class="menu-item">Profile</div>
    <div class="menu-item">Logout</div>
  </div>

  <!-- Avatar -->

  <div class="name-card">
      <h4>S</h4>
  </div>


</div>
