.app-header {
  height: 200px;
  background-image: url("../../../assets/img/bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.menu-item {
  font-size: 1em;
  color: white;
}

.name-card {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  background-color: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 81, 59, 0.49);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 81, 59, 0.49);
  box-shadow: 0px 3px 6px 0px rgba(0, 81, 59, 0.49);
}
.name-card h4 {
  color: #00513a;
  opacity: 0.6;
  font-size: 5em;
}

