.item {
    display: flex;
    flex-direction: row;
}

.item img {
    width: 24px;
    height: 20px;
    
}

.item a {
    font-size: 1em;
    color: #222;
    margin-left: 10px;
}

.next-btn {
    height: 15px !important
}