<div class="item">
    <img src="{{menuItem.icon}}">
    <a>{{menuItem.name}}</a>
    <img src="../../../assets/ico/ic-arrow.svg" class="next-btn" style="margin-left: auto;" alt="click to proceed">
</div>
