.main {
  padding-bottom: 60px;
}

.title {
    text-align: center;
    margin-top: 20px;
  }
  
  .title h1 {
    font-size: 1.2em;
    line-height: 0.8em;
  }

  .title p {
      line-height: 0.8em;
      color: #80BA27;
  }

  .menu-container {
      margin-left: 16px;
      margin-right: 16px;
      margin-top: 20px;
  }

  .menu-container h2 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .menu-item {
    margin-top: 16px;
  }
  