<div class="main">
  <app-header></app-header>

  <div class="title">
    <h1>Samuel L. Jackson</h1>
    <p>Switch Profile</p>
  </div>

  <!-- menu items -->
  <div class="menu-container">
    <h2>Profile</h2>
    <div class="menu-item" *ngFor="let item of profileMenuItems">
      <app-menu-items [menuItem]="item"></app-menu-items>
    </div>

    <h2>Security</h2>
    <div class="menu-item" *ngFor="let item of securityMenuItems">
      <app-menu-items [menuItem]="item"></app-menu-items>
    </div>

    <h2>About Us</h2>
    <div class="menu-item" *ngFor="let item of aboutMenuItems">
      <app-menu-items [menuItem]="item"></app-menu-items>
    </div>
  </div>
</div>
