@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html {
    background-color: #222;
    
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10pt;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
}